
/* Solomon Family */
@font-face {font-family: 'Solomon-Book';src: url('webfonts/264F9E_6_0.eot');src: url('webfonts/264F9E_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/264F9E_6_0.woff') format('woff'),url('webfonts/264F9E_6_0.ttf') format('truetype');}
@font-face {font-family: 'Solomon-Bold';src: url('webfonts/264F9E_7_0.eot');src: url('webfonts/264F9E_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/264F9E_7_0.woff') format('woff'),url('webfonts/264F9E_7_0.ttf') format('truetype');}
@font-face {font-family: 'Solomon-Thin';src: url('webfonts/264F9E_5_0.eot');src: url('webfonts/264F9E_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/264F9E_5_0.woff') format('woff'),url('webfonts/264F9E_5_0.ttf') format('truetype');}
@font-face {font-family: 'Solomon-Normal';src: url('webfonts/264F9E_A_0.eot');src: url('webfonts/264F9E_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/264F9E_A_0.woff') format('woff'),url('webfonts/264F9E_A_0.ttf') format('truetype');}
/* Cubano */
@font-face {font-family: 'CubanoRegular';src: url('cubano-regular-webfont.eot');src: url('cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),url('cubano-regular-webfont.woff') format('woff'),url('cubano-regular-webfont.ttf') format('truetype'),url('cubano-regular-webfont.svg#CubanoRegular') format('svg');font-weight: normal;font-style: normal;}
/* Citizen Slab  */


@font-face { font-family: 'citizen_slabregular';src: url('citizen_slab-webfont.eot');src: url('citizen_slab-webfont.eot?#iefix') format('embedded-opentype'),url('citizen_slab-webfont.woff') format('woff'),url('citizen_slab-webfont.ttf') format('truetype'),url('citizen_slab-webfont.svg#citizen_slabregular') format('svg');font-weight: normal;font-style: normal;}

@font-face {
    font-family: 'klinic_slabbold';
    src: url('klinicslabbold-webfont.eot');
    src: url('klinicslabbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabbold-webfont.woff') format('woff'),
         url('klinicslabbold-webfont.ttf') format('truetype'),
         url('klinicslabbold-webfont.svg#klinic_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klinic_slabbook';
    src: url('klinicslabbook-webfont.eot');
    src: url('klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabbook-webfont.woff') format('woff'),
         url('klinicslabbook-webfont.ttf') format('truetype'),
         url('klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'klinic_slablight';
    src: url('klinicslablight-webfont.eot');
    src: url('klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslablight-webfont.woff') format('woff'),
         url('klinicslablight-webfont.ttf') format('truetype'),
         url('klinicslablight-webfont.svg#klinic_slablight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klinic_slabmedium';
    src: url('klinicslabmedium-webfont.eot');
    src: url('klinicslabmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('klinicslabmedium-webfont.woff') format('woff'),
         url('klinicslabmedium-webfont.ttf') format('truetype'),
         url('klinicslabmedium-webfont.svg#klinic_slabmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



