
$main: #2e5e68;
$white: #fff;
$blue: #222;
$green: #3e9e77;
$h2: 22px;
$max-w: 960px;
/* Font Families */
$s-norm: 'Solomon-Normal';
$s-book: 'Solomon-Book';
$s-bold: 'Solomon-Bold';
$s-thin: 'Solomon-Thin';
$cuba: 	'CubanoRegular';
$slab: 'citizen_slabregular';
$block: url('../images/bg-block-blue.jpg') #3ea7be;