
$main: #2e5e68;
$white: #fff;
$blue: #222;
$blue-light: #41BCC8;
$green: #3e9e77;
$h2: 22px;

$l-green: #88D1B5;
$l-turq: #63C0D2;
$l-blue: #87CEE8;
$l-red: #BE3E40;
$l-gold: #BF9A45;

/* Font Families */

$cuba: 	'CubanoRegular';
$slab: 'citizen_slabregular';
$block: url('../images/bg-block-blue.jpg') #3ea7be;
$kin-bold: 'klinic_slabbold';
$kin-slbk: 'klinic_slabbook';
$kin-light:'klinic_slablight';
$kin-med: 'klinic_slabmedium';

/* Media Queries */

$sml: 380px;
$med: 740px;
$lrg: 1200px;


/* Extendors */

