
button {
	background: transparent;
	border: 0;
	border-left: 2px solid $l-blue;
	outline: 0;
	border-bottom: 2px solid $l-blue;
	margin-right: 30px;
	height: 65px;
	color: #fff;
	padding: 0 0 0 1%;
	width: 40%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px;

	@media screen and (max-width: $sml) {
			width: 100%;
			margin-bottom: 5%;
			font-size: 22px;

			&:last-child {
				margin-bottom: 0;
			}
	}

		a {
			color: #fff;
		}

	&:hover {
		border-top: 5px solid #fff;
		border-right: 5px solid #fff;
	-webkit-transition: all .25s;
		height: 60px;

	a {
		color: $l-blue;
	}
	}
}

.submit {
	float: right;
	margin: 5% 0 0 10%;
	padding: 0 0 0 1%;
	width: 20%;
	color: #fff;
	font-size: 20px;
	height: 40px;

	&:hover {
		border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	-webkit-transition: all .25s;
	color: $blue-light;
	}
}

