header {
	width: 100%;
	background: #fff;
	height: 150px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

header img {
	width: 203px;
	position: relative;
	z-index: 5;
	max-width: 100%;
	max-height: 100%;
	display: block;

		@media screen and (max-width: $med) {
			display: inline;
			margin-left: 20px;
	}

		@media screen and (max-width: $sml) {
			width: 153px;
			margin-left: 25%;
			margin-top: 4%;
	}

	margin: 0 auto;
	padding-top: .5%;
	padding-bottom: .5%;

}
