
@import "variables"; 
@import "normalize";
@import "icon-fonts";
@import "fonts";

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@mixin trans {
	transition: all .05s;
	-webkit-transition: all .05s; /* Safari */
	position: relative;
	top: 5px;
}

html, body {
	background: url('../images/bg-main.jpg') $main;
}

 .about, .contact {
	.page-wrap {
		max-width: 1125px;	
		h2 {
		text-align: center;
		margin: 50px 0 50px;
		}
		.block.blue {
			.left {
				box-sizing: border-box;
				h3 {
					text-align: right;
					padding: 40px 20px 0 0;
				}
			}
		}
	}
}

.howdy {
	margin-top: -32px;
}

h1, h2, h3, p, ul {
	color: $white;
	font-family: $s-thin;
}

h2 {
	font-size: 52px;
	font-weight: normal;
	line-height: 0; /* explore this more, it seems like this shouldnt adjiust this */
	margin-bottom: 20px;
}

h3 {
	font-size: 26px;
	font-family: $s-book;
	&.break {
		font-size: 48px;
		font-weight: normal;
		text-align: center;
	}
}


h4 {
	font-family: $s-norm;
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: right;
	span {
		font-size: 16px;
		display: block;
		font-family: $s-thin;
	}
}

ul {
	list-style: none;
	background: pink;
}

dl dd 

.button {
	background: $blue;
	color: $white;
	padding: 20px;
	font-size: 30px;
	font-family: $s-norm;
	font-weight: normal;
  transition: all .12s;
-webkit-transition: all .12s; /* Safari */
	&:hover {
		background: #000;
 @include trans;
	}
	span {
		font-family: $slab;
		font-size: 36px;
		font-weight: thin;
		position: relative;
		top: 1px;
		left: 5px;
	}
	&.small {
		font-size: 18px;
		padding: 15px;
		}
	}

.contain {
	text-align: center;
	max-width: $max-w;
	margin:  0 auto;
}

/*******************************

	[#] HEADER 

********************************/

header {
	background: url('../images/bg-header.jpg');
	height: 190px;
	border-bottom: 1px solid white;
}

.logo {
	width: 253px;
	margin-top: 20px;
	position: relative;
	z-index: 5;
	/* don't forget to provide fallback for SVG */
}

/*******************************

	[#] MAIN NAVIGATION 

********************************/

nav {
	height: 30px;
	position: relative;
	bottom: 108px;
	font-family: $cuba;
	a {
		color: $main;
		font-size: 30px;
		&:hover { color: $blue;
    @include trans;
	 }
	}
	.nav-left {
		float: left;
		margin-left: 40px;
		a {
			margin-right: 80px;
		}
	}
	.nav-right {
		float: right;
		a {
			margin-left: 80px;
		}
	}
}

.page-wrap {
	max-width: $max-w;
	width: 98%;
	margin: 0 auto;
	.contain.home {
	width: 65%;
	position: relative;
	top: 70px;
	&:before {
		content: '{';
		font-family: $s-thin;
		position: absolute;
		bottom: -70px;
		color: $white;
				opacity: .2;
		left: -100px;
		font-size: 295px;
	}
	&:after {
		content: '}';
				font-family: $s-thin;
		position: absolute;
		bottom: -70px;
		color: $white;
		opacity: .2;
		right: -100px;
		font-size: 295px;
	}
	p {
		font-size: 26px;
		line-height: 38px;
		}
	}
}

.kalee {
width: 120px;
height: 120px;
margin: 25px auto;
	img {
		width: 120px;
		height: 120px;
	}
}

/*******************************

	[#] LAYOUT 

********************************/

.block { 
	margin-bottom: 30px;
	p {
		font-size: 18px;
		margin-bottom: 40px;
		width: 95%;
		line-height: 28px;
		&:last-child {
			margin-bottom: 0;
		}
		&.special {
			font-family: $slab;
			font-size: 42px;
			margin: 20px 0 0 110px;
		}
	}
	.left {
			float: left;
			width: 40%;
			img {
				padding: 50px 0 0 40px;
			}
		}
	.right {
			float: right;			
			width: 57%;
		}
	&.blue {
		background: $block;
		padding: 20px;
		float: left;
	}
	&.full {
		width: 100%;
	}
}

/*******************************

	[#] LISTS 

********************************/

dl {
	dt {
	font-family: $cuba;
	font-size: 30px;
	background: $white;
	padding: 10px;
	text-align: right;
	display: block;
	float: left;
	position: relative;
	top: -10px;
	left: -5px;
	margin-right: 20px;
}
	dd {
		font-family: $s-book;
		font-size: 22px;
		padding: 10px;
		color: $white;
		width: auto;
	}
}

.madeby {
	margin: 0 0 40px;
}

dd.powered {
	background: #BE3E40;
	width: 56%;
}

dd.life {
	background: #7ABD46;
	width: 92%;
}

dd.managed {
	background: #44BFBA;
	width: 39%;
}

dd.works {
	background: #BF9A45;
	width: 75%;
}

	
/*************************
     WORK BUTTON
**************************/

.work {
	background: $green;
	color: #fff;
	font-family: $cuba;
	font-size: 55px;
	float: right;
	z-index: 100;
	width: 80%;
	margin-right: 5px;
	position: relative;
	padding: 20px 0 20px 0;
	text-align: center;
	border-top: 6px solid lighten($green, 10%);
	border-left: 6px solid lighten($green, 10%);
	&:before {
		content: "";
		background: url('../images/bg-block-green.jpg') lighten($green, 15%);
		z-index: -20;
		position: absolute;
		 height: 150px;
     width: 350px;
     left: 15%;
     border-radius: 345px 345px 0 0;
     -moz-border-radius: 345px 345px 0 0;
     -webkit-border-radius: 345px 345px 0 0;
     /*fix with compass */
	}
	 &:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;	
		z-index: -10;
		width: 100%;
		height: 100%;
			opacity: .8;
		border-right: 6px solid darken($green, 10%);
	  border-bottom: 6px solid darken($green, 10%);
	}
	&:hover {
		color: #111;
		border-top: 6px solid darken($green, 10%);
	  border-left: 6px solid darken($green, 10%);
	}
   &:hover:after {
	border-right: 6px solid lighten($green, 10%);
	border-bottom: 6px solid lighten($green, 10%);
	}
	&:hover:before {
		background: lighten($green, 20%);
	}
}

.formfloat {
	float: left;
	margin-bottom: 20px;
}

label {
	color: $white;
	font-size: 24px;
	font-family: $slab;
	padding: 0 0 20px 0;
}

input, textarea {
	margin-top: 10px;
	width: 60%;
	min-width: 500px;
	box-sizing: border-box;
}

input {
	float: left;
	padding: 20px;
}

input, textarea {
	width: 100;
}

figure span {
	text-decoration: strike-through;
}

.social {
	list-style: none;
	li {
		padding-bottom: 20px;
		  width: 80px; 
   height: 50px; 
   background: lighten($blue, 0%);
   margin: 3px 0 0 30px;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
   &:hover {
   	background: red;
   	cursor: pointer;
   }
   a {
   	color: $white;
   }
	}
	float: right;
}

footer {
	clear: both;
	margin-bottom: 200px;
	text-align: center;
}


