
@import "variables"; 
@import "normalize";
@import "fonts";

@mixin trans {
	transition: all .05s;
	-webkit-transition: all .05s; /* Safari */
	position: relative;
	top: 5px;
}

html, body {
	background: url('../images/bg-main.jpg') $main;
}


 .about{
	.page-wrap {
		max-width: 1125px;	
		h2 {
		text-align: center;
		margin: 60px 0 60px;
		}
	}
}


h1, h2, h3, p {
	color: $wh;
	font-family: $s-thin;
}

h2 {
	font-size: 52px;
	font-weight: normal;
	line-height: 0; /* explore this more, it seems like this shouldnt adjiust this */
	margin-bottom: 20px;
}

h4 {
	font-family: $s-norm;
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: right;
	span {
		font-size: 16px;
		display: block;
		font-family: $s-thin;
	}
}

.button {
	background: $bl;
	color: $wh;
	padding: 20px;
	font-size: 30px;
	font-family: $s-norm;
	font-weight: normal;
  transition: all .12s;
-webkit-transition: all .12s; /* Safari */
	&:hover {
		background: #000;
 @include trans;
	}
	span {
		font-family: $slab;
		font-size: 36px;
		font-weight: thin;
		position: relative;
		top: 1px;
		left: 5px;
	}
	&.small {
		font-size: 18px;
		padding: 15px;
		}
	}


.contain {
	text-align: center;
	max-width: $max-w;
	margin:  0 auto;
}

/*************************
     HEADER
**************************/

header {
	background: url('../images/bg-header.jpg');
	height: 213px;
	border-bottom: 1px solid white;
}

.logo {
	width: 253px;
	margin-top: 20px;
	position: relative;
	z-index: 5;
	/* don't forget to provide fallback for SVG */
}

nav {
	height: 30px;
	position: relative;
	bottom: 108px;
	font-family: $cuba;
	a {
		color: $main;
		font-size: 30px;
		&:hover { color: $bl;
    @include trans;
	 }

	}
	.nav-left {
		float: left;
		margin-left: 40px;
		a {
			margin-right: 80px;
		}
	}
	.nav-right {
		float: right;
		a {
			margin-left: 80px;
		}
	}
}

.page-wrap {
	max-width: $max-w;
	width: 98%;
	margin: 0 auto;
	.contain.home {
	width: 65%;
	position: relative;
	top: 70px;
	&:before {
		content: '{';
		font-family: $s-thin;
		position: absolute;
		bottom: -70px;
		color: $wh;
				opacity: .2;
		left: -100px;
		font-size: 295px;
	}
	&:after {
		content: '}';
				font-family: $s-thin;
		position: absolute;
		bottom: -70px;
		color: $wh;
		opacity: .2;
		right: -100px;
		font-size: 295px;
	}
	p {
		font-size: 26px;
		line-height: 38px;
		}
	}
}

.kalee {
width: 120px;
height: 120px;
margin: 25px auto;
	img {
		width: 120px;
		height: 120px;
	}
}

/*************************
     BLOCKS
**************************/

.block { 
	h3 {
		font-size: 26px;
		text-align: left;
		font-family: $s-book;
	}
	p {
		font-size: 18px;
		margin-bottom: 40px;
		width: 95%;
		line-height: 28px;
		&.special {
			font-family: $slab;
			font-size: 42px;
			margin: 20px 0 0 110px;
		}
	}
	.left {

			float: left;
			margin-left: 20px;
			width: 40%;
			img {
				padding: 50px 0 0 40px;
			}
		}
	.right {
			float: right;			
			width: 57%;
			padding: 45px 0 0 0;
		}
	&.blue {
		background: $block;
		float: left;
	}
}

/*************************
     WORK BUTTON
**************************/
.work {
	background: $green;
	color: #000;
	font-family: $cuba;
	font-size: 60px;
	float: right;
	z-index: 100;
	width: 80%;
	position: relative;
	padding: 20px 0 20px 0;
	text-align: center;
	border-top: 6px solid lighten($green, 10%);
	border-left: 6px solid lighten($green, 10%);
	&:before {
		content: "";
		background: url('../images/bg-block-green.jpg') lighten($green, 15%);
		z-index: -20;
		position: absolute;
		 height: 170px;
     width: 350px;
     left: 15%;
     border-radius: 355px 355px 0 0;
     -moz-border-radius: 355px 355px 0 0;
     -webkit-border-radius: 355px 355px 0 0;
     /*fix with compass */
	}
	 &:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;	
		z-index: -10;
		width: 100%;
		height: 100%;
			opacity: .8;
		border-right: 6px solid darken($green, 10%);
	  border-bottom: 6px solid darken($green, 10%);
	}
	&:hover {
		color: #111;
		border-top: 6px solid darken($green, 10%);
	  border-left: 6px solid darken($green, 10%);
	}
   &:hover:after {
	border-right: 6px solid lighten($green, 10%);
	border-bottom: 6px solid lighten($green, 10%);
	}
	&:hover:before {
		background: lighten($green, 20%);
	}


}

figure span {
	text-decoration: strike-through;
}

footer {
	margin-top: 200px;
	clear: both;
	text-align: center;
}

