
/* Headings */

h1, h2, h3, p, ul {
	color: $white;
	font-family: $kin-light;
}

h2 {
	font-size: 52px;
	font-weight: normal;
		line-height: 48px;
	margin-bottom: 20px;
	font-family: $kin-med;
}

h3 {
	font-size: 40px;
	font-family: $kin-slbk;
	letter-spacing: .02em;
	line-height: 0;
	&.break {
		font-size: 48px;
		font-weight: normal;
		text-align: center;
	}
}


h4 {
	font-family: $s-norm;
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: right;
	span {
		font-size: 16px;
		display: block;
		font-family: $s-thin;
	}
}

ul {
	list-style: none;
}

ul.contact-info {
	background: rgba($blue-light, 0.5);
	font-size: 22px;
	line-height: 36px;
	padding: 20px;
	width: 70%;
	margin: 0 auto;
	img {
		vertical-align: sub;
		padding-right: 10px;
	}
}

/* Paragraphs */

p {
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;


	&:last-child {
	margin-bottom: 0;
	}

	&.lead {
	font-size: 26px;
	line-height: 42px;
	margin-bottom: 40px;
}

	&.special {
		font-family: $slab;
		font-size: 42px;
		margin: 20px 0 0 25%;
	}
}



/*******************************

    LISTS 
********************************/

dl {
	margin: 50px 0 0 0;
	dt {

	background: $white;
	font-family: $kin-light;
	font-size: 26px;
	text-align: right;
	
	float: left;
	margin-right: 20px;
	padding: 10px;
	display: block;

	position: relative;
	top: -3px;
	left: -5px;

	// box-shadow: 2px 2px 2px #000;

}
	dd {
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		font-size: 22px;
		padding: 10px;

		color: $white;
		width: auto;
	}
}

.madeby {
	margin: 0 0 40px;
}

dd.powered {
	background: #BE3E40;
	width: 50%;
}

dd.life {
	background: #588b78;
	width: 77%;
}

dd.managed {
	background: #478591;
	width: 35%;
}

dd.works {
	background: #BF9A45;
	width: 65%;
}

.and {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.title {
	margin-top: 5px;
}

.form {
	text-align: right;
}
