
/* Headings */

h1, h2, h3, p, ul {
	color: $white;
	font-family: $kin-light;
}

h2 {
	font-size: 52px;
	font-weight: normal;
	line-height: 48px;
	margin-bottom: 20px;
	font-family: $kin-med;

	@media screen and (max-width: $lrg) {
		font-size: 48px;
}

	@media screen and (max-width: $sml) {
		font-size: 32px;
		line-height: 40px;
	}
}

h3 {
	font-size: 40px;
	font-family: $kin-slbk;
	letter-spacing: .02em;
	line-height: 0;

	@media screen and (max-width: $sml) {
		font-size: 22px;
		line-height: 32px;
}
	
	&.break {
		font-size: 48px;
		font-weight: normal;
		text-align: center;
	}
}


h4 {
	font-family: $kin-med;
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	padding: 0;
}

/* Lists */

ul {
	list-style: none;
}

ul.contact-info {
	background: rgba($blue-light, 0.5);
	font-size: 22px;
	line-height: 36px;
	padding: 20px;
	width: 70%;
	margin: 0 auto;
	img {
		vertical-align: sub;
		padding-right: 10px;
	}
}


dl {
	margin: 50px 0 0 0;

			@media screen and (max-width: $lrg) {
			font-size: 22px;
			width: 90%;
			padding-left: 20px;
		}

	dt {
		background: $white;
		font-family: $kin-light;
		font-size: 26px;
		text-align: right;
		
		float: left;
		margin-right: 20px;
		padding: 10px;
		display: block;

		position: relative;
		top: -3px;
		left: -5px;

		@media screen and (max-width: $med) {
			font-size: 22px;
	}

}
	dd {
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		font-size: 22px;
		padding: 10px;

		color: $white;
		width: auto;
	}
}

.madeby {
	margin: 0 0 40px;
}

dd.powered {
	background: #BE3E40;
	width: 50%;

	@media screen and (max-width: $med) {
		width: 90%;
		font-size: 18px;
	}

	@media screen and (max-width: $sml) {
		@include def-list;
	}	
}

dd.life {
	background: #588b78;
	width: 77%;

	@media screen and (max-width: $lrg) {
		font-size: 22px;
		width: 90%;
	}

	@media screen and (max-width: $med) {
		width: 90%;
		font-size: 15px;
	}

	@media screen and (max-width: $sml) {
		@include def-list;
	}	
}

dd.managed {
	background: #478591;
	width: 35%;
	
	@media screen and (max-width: $lrg) {
		font-size: 22px;
		width: 40%;
	}

	@media screen and (max-width: $med) {
		width: 90%;
		font-size: 18px;
	}

	@media screen and (max-width: $sml) {
		@include def-list;
	}	
}

dd.works {
	background: #BF9A45;
	width: 65%;

	@media screen and (max-width: $lrg) {
		font-size: 22px;
		width: 74%;
	}

	@media screen and (max-width: $med) {
			width: 90%;
			font-size: 18px;
	}

	@media screen and (max-width: $sml) {
		@include def-list;
	}

}

/* Paragraphs */

p {
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;

	@media screen and (max-width: $sml) {
		font-size: 18px;
		line-height: 34px;
		padding-left: 3%;
		padding-right: 3%;
	}

	&:last-child {
	margin-bottom: 0;
	}

	&.lead {
	font-size: 26px;
	line-height: 42px;
	margin-bottom: 40px;

	@media screen and (max-width: $lrg) {
		font-size: 22px;
		line-height: 38px;
		margin-bottom: 30px;
	}

	@media screen and (max-width: $sml) {
		font-size: 20px;
		line-height: 34px;
		padding-right: 5%;
	}
}

	&.special {
		font-family: $slab;
		font-size: 42px;
		margin: 20px 0 0 25%;
	}
}

/* Reusable Classes */

.and {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.title {
	margin: 0 0 35px;
}

.form {
	text-align: right;
}
